<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Můj blogísek</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/normalize.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600'>

    <link rel="stylesheet" href="/style.css">

    
    
    
  </head>

  <body>

    
<div class="canvas">
  <header class="page-header">
    <h1>Floating Headers</h1>
    <p class="summary">A Simplistic Blog Pattern</p>
  </header>

    {{#each article}}
      <article>
        <header>
          <div class="stick">
            <h2>{{name}}</h2>
            <p class="date">

              by <a href="/users/{{author}}">{{author_name}} </a> on {{date}}
            </p>
          </div>
        </header>
        <div class="content">
               {{{index_page}}}
          <a href="/article/{{@index}}">číst více</a>
        </div>
      </article>
    {{/each}}

  </section>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js'></script>

        <script src="/index.js"></script>

    
    
    
  </body>
</html>
