<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Floating Header Blog Pattern</title>
    
    
    <link rel="stylesheet" href="/normalize.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600'>

        <link rel="stylesheet" href="/style.css">

    
    
    
  </head>

  <body>

    
<div class="canvas">
  <header class="page-header">
    <h1>Floating Headers</h1>
    <p class="summary">A Simplistic Blog Pattern</p>
  </header>
  <section>
    <article>
      <header>
        <div class="stick">
          <h2>Simple Post With a Longer Header</h2>
          <p class="date">
             
            by <a href="#">Sly Stallone </a>on Nov. 12th 2014
          </p>
        </div>
      </header>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Etiam non sodales dui. Sed sagittis tincidunt massa, quis porta mi finibus vel. </p>
        <p>Aliquam ornare porttitor dapibus. Ut non quam tellus. Ut at urna feugiat tellus maximus consectetur. Integer tincidunt sapien ac nibh faucibus mattis. Nulla enim purus, auctor condimentum metus efficitur, commodo rutrum diam. Nunc non libero dolor.</p>
        <blockquote>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</blockquote>
        <p>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</p>
        <p>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</p>
      </div>
    </article>
    <article>
      <header>
        <div class="stick">
          <h2>Yet Another Post</h2>
          <p class="date">
             
            by <a href="#">Sly Stallone </a>on Nov. 12th 2014
          </p>
        </div>
      </header>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Etiam non sodales dui. Sed sagittis tincidunt massa, quis porta mi finibus vel. </p>
        <p>Aliquam ornare porttitor dapibus. Ut non quam tellus. Ut at urna feugiat tellus maximus consectetur. Integer tincidunt sapien ac nibh faucibus mattis. Nulla enim purus, auctor condimentum metus efficitur, commodo rutrum diam. Nunc non libero dolor.</p>
        <blockquote>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</blockquote>
        <p>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</p>
        <p>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</p>
      </div>
    </article>
    <article>
      <header>
        <div class="stick">
          <h2>A Hello World Post</h2>
          <p class="date">
             
            by <a href="#">Sly Stallone </a>on Nov. 12th 2014
          </p>
        </div>
      </header>
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Etiam non sodales dui. Sed sagittis tincidunt massa, quis porta mi finibus vel. </p>
        <p>Aliquam ornare porttitor dapibus. Ut non quam tellus. Ut at urna feugiat tellus maximus consectetur. Integer tincidunt sapien ac nibh faucibus mattis. Nulla enim purus, auctor condimentum metus efficitur, commodo rutrum diam. Nunc non libero dolor.</p>
        <blockquote>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</blockquote>
        <p>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</p>
        <p>Donec in fermentum ex, a commodo nulla. Nam imperdiet lacinia nunc nec varius. Ut mattis eget sapien non pellentesque. Curabitur vestibulum eu enim in mattis. Praesent rutrum, magna in venenatis placerat, nibh ex commodo nisl, ac bibendum mauris lectus non ligula.</p>
      </div>
    </article>
  </section>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js'></script>

        <script src="/index.js"></script>

    
    
    
  </body>
</html>
