<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Photo Crowd</title>
	<script type="text/javascript" src="javascripts/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>

	<link rel="stylesheet" media="screen"  href="stylesheets/common.css"/>
	<link rel="stylesheet" media="screen"  href="stylesheets/main.css"/>
	<link rel="stylesheet" media="screen"  href="stylesheets/page-user-page.css"/>

</head>
<body>
<div id="container">
	<div id="top-bar" class="common-wrapper">
		<div class="common-content">
			<div class="left-column">
				<h1><a href="index.html">Photo Crowd</a></h1>
			</div>
			<div class="right-column">
				<div id="user-panel" class="container clickable">
					<table class="centerize">
						<tr>
							<td>
								<div class="user-avatar-frame">
									<img alt="avatar" src="images/avatars/bozzie.jpg">
								</div>
							</td>
							<td>
								<span class="username">Nuruddin Ashr</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="container clickable create-crowd" onclick="location.href='album-create.html'">
					<table class="centerize">
						<tr>
							<td><span class="create-sign">+</span></td>
							<Td><span class="crowd-text">Crowd</span></Td>
						</tr>
					</table>
				</div>
				<div id="user-menu">
					<ul>
						<li><a href="user-page.html">My Galleries</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="index.html">Sign out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="body-wrapper" class="common-wrapper">
		<div id="body" class="common-content">
			<div id="head-info">
				<div id="avatar-frame">
					<img alt="avatar" src="images/avatars/bozzie.jpg"/>
				</div>
				<div id="short-info">
					<h1>Bozzie Bozzo</h1>
					<ul>
						<li>9 albums</li>
						<li><a href="http://twitter.com/#!/uudashr" id="twitter-profile">profile</a></li>
					</ul>
				</div>
			</div>
			<div id="crowds">
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/bird.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Sky</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/dawn-river.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Rivers</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/field.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Fields</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/salad.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Foods, Fresh and Healty</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/gray-bull.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Animals</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/mountain.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Mountain</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/building.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Buildings</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/silent-road.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Silent Road</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
				<div class="album">
					<div class="photo-frame">
						<a href="album-details.html">
							<img alt="photo" src="images/photos/album/staring-woman.jpg"/>
						</a>
					</div>
					<div class="title"><a href="album-details.html">Woman and Arts</a></div>
					<ul class="info">
						<li>10 photos</li>
						<li>18 activities</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="common-wrapper">
		<div class="common-content">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Help</a></li>
				<li>&copy; Photo Crowd</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>